body {
    background-color: #5CA4A9;
}

/*Container for the game area*/
.game-container {
    display: flex;
    margin-left: 25%;
    width: 50%;
    height: 500px;
    background-color: #9BC1BC;
    border: solid 3px #E6EBE0;
    border-radius: 10px;
}
/* Container for coloured shapes to allow for them to be centered using flex-box */
.shape-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
    margin: auto;
}

.colour-shapes {
    width: 150px;
    height: 150px;
    border: solid 5px whitesmoke;
    border-radius: 50%;
}

/* separate colours are given to each of the shapes */
#shape1 {
    background-color:deeppink;
}

#shape2 {
    background-color:cornflowerblue;
}

#shape3 {
    background-color:goldenrod;
}

#shape4 {
    background-color:greenyellow;
}

#shape5 {
    background-color:khaki
}

#shape6 {
    background-color:yellow;
}